body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

a{
    text-decoration: none;
}
.css-gr4hu4-MuiPaper-root-MuiAppBar-root {
    background-color: var(--mui-palette-background-paper);
    color: var(--mui-palette-text-primary);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: var(--Paper-shadow);
    background-image: var(--Paper-overlay);
    display: -webkit-box;
    display: -webkit-flex;
    display: none !important;
    display: -ms-flexbox;
    display: flex
  ;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    z-index: var(--mui-zIndex-appBar);
    top: 0;
    left: auto;
    right: 0;
    --AppBar-color: inherit;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--mui-palette-divider);
    box-shadow: none;
    z-index: 1201;
  }
  @media (min-width: 0px) {
    @media (orientation: landscape) {
        .mui-1bmc26r-MuiToolbar-root {
            min-height: 0px !important;
        }
    }
}
.mui-gr4hu4-MuiPaper-root-MuiAppBar-root {
    background-color: #b13434;
    color: var(--mui-palette-text-primary);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: var(--Paper-shadow);
    background-image: var(--Paper-overlay);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    z-index: var(--mui-zIndex-appBar);
    top: 0;
    left: auto;
    right: 0;
    --AppBar-color: inherit;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--mui-palette-divider);
    box-shadow: none;
    z-index: 1201;
}